Repository swallace100/stats-utility-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint-frontend

.pre-commit-config.yaml:

# Run:  pip install pre-commit
#       pre-commit install
#       pre-commit run --all-files
default_stages: [pre-commit]
minimum_pre_commit_version: "3.5.0"

# Avoid huge/vendor dirs
exclude: |
  (?x)^(
    node_modules/|
    .venv/|
    venv/|
    dist/|
    build/|
    coverage/|
    target/|
    .*\.min\.(js|css)$
  )

repos:
  # --- Generic hygiene ---
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key

  # --- Python (Black + Ruff) ---
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # --- Rust (cargo fmt + clippy) ---
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --check
        entry: cargo
        language: system
        pass_filenames: false
        args:
          - fmt
          - --all
          - --manifest-path
          - apps/stats_rs/Cargo.toml
          - --
          - --check
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy (deny warnings)
        entry: cargo
        language: system
        pass_filenames: false
        args:
          - clippy
          - --workspace
          - --all-targets
          - --manifest-path
          - apps/stats_rs/Cargo.toml
          - --
          - -D
          - warnings
        types: [rust]

  # --- JS/TS/React (Prettier + ESLint) ---
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2 # known-good tag on that fork
    hooks:
      - id: prettier
        files: "\\.(js|jsx|ts|tsx|css|scss|md|json|yml|yaml)$"
        # optional plugins:
        # additional_dependencies:
        #   - "prettier-plugin-tailwindcss@0.5.14"

  # (ESLint uses your repo config; align versions with package.json)
  - repo: local
    hooks:
      - id: eslint-frontend
        name: eslint (frontend)
        language: system
        entry: bash -lc "cd apps/frontend && npx eslint src --ext .ts,.tsx --max-warnings=0"
        args:
          - --yes
          - --prefix
          - apps/frontend
          - eslint
          - --config
          - apps/frontend/eslint.config.js
          - --ext
          - .js,.jsx,.ts,.tsx
          - --max-warnings=0
          - apps/frontend
        pass_filenames: false
        types_or: [javascript, jsx, ts, tsx]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Markdown lint (official CLI repo)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        # auto-fix + allow long lines (MD013)
        args: ["--fix", "--disable", "MD013", "--"]
        files: "\\.(md|markdown)$"

  # --- Secrets scan (optional but recommended) ---
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

update backend apis
  apps/backend/src/app.ts
  apps/backend/src/docs.ts
  apps/backend/src/server.ts
Due: eslint-frontend

update README and architecture docs
  .pre-commit-config.yaml
  README.md
  docs/architecture.jpg
  docs/architecture.md
  docs/backend.md
  docs/frontend.md
  docs/stats-utility-app-docs.md
  docs/stats_rs.md
  docs/testing_reliability.md
Due: none

doc updates
  Makefile
  README.md
  apps/plots_py/models.py
  docker/docker-compose.test.yml
  docs/docker.md
  docs/plots_py.md
Due: none

update stats_rs docs
  Makefile
  README.md
  apps/stats_rs/src/error.rs
  apps/stats_rs/src/lib.rs
  apps/stats_rs/src/main.rs
  apps/stats_rs/src/routes.rs
  apps/stats_rs/src/routes/describe.rs
  apps/stats_rs/src/routes/docs.rs
  apps/stats_rs/src/routes/health.rs
  apps/stats_rs/src/routes/mod.rs
  apps/stats_rs/src/routes/prom.rs
  apps/stats_rs/src/routes/schemas.rs
  apps/stats_rs/src/routes/stats_binrule.rs
  apps/stats_rs/src/routes/stats_corr_matrix.rs
  apps/stats_rs/src/routes/stats_distribution.rs
  apps/stats_rs/src/routes/stats_ecdf.rs
  apps/stats_rs/src/routes/stats_normalize.rs
  apps/stats_rs/src/routes/stats_outliers.rs
  apps/stats_rs/src/routes/stats_pairwise.rs
  apps/stats_rs/src/routes/stats_qq.rs
  apps/stats_rs/src/routes/stats_summary.rs
  apps/stats_rs/src/state.rs
  apps/stats_rs/src/stats/info.rs
  apps/stats_rs/src/stats/preprocess.rs
  apps/stats_rs/src/types.rs
  docs/api.md
  docs/backend.md
  docs/frontend.md
Due: cargo-fmt, cargo-clippy

update frontend
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/AnalyzePanel.tsx
  apps/frontend/src/components/CSVPreview.tsx
  apps/frontend/src/components/NavBar.tsx
  apps/frontend/src/components/UploadCsvCard.tsx
  apps/frontend/vite.config.ts
  docs/frontend.md
Due: eslint-frontend

remove databases
  .github/workflows/ci.yml
  Makefile
  README.md
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/server.ts
  apps/stats_rs/src/state.rs
  docker/.env_sample
  docker/docker-compose.yml
  docker/mongo-init/init.js
  docker/pgadmin-server.json
  docker/pgadmin/servers.json
  docker/postgres-init/001_schema.sql
  docker/postgres-init/002_indexes.sql
  docs/architecture.md
  docs/backend.md
  docs/database.md
  docs/docker.md
Due: cargo-fmt, cargo-clippy, eslint-frontend

remove databases
  apps/frontend/src/components/NavBar.tsx
Due: eslint-frontend

end-to-end
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/server.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/lib/api.ts
  docker/.env_sample
  docker/docker-compose.yml
  docs/architecture.jpg
  docs/frontend.md
Due: eslint-frontend
